@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --color1: #141922;
    --color2: #282828;
    --color3: black;
    --color4: rgba(0, 0, 0, 0.7);
    --color5: white;
    --color6: #ADFF2F;
    --color7: #52DD48;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: grey;
}
img{
    width: 100%;
}
.d-flex{
    display: flex;
}
.jc-end{
    justify-content: flex-end;
}
.jc-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.sp-bet{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
.end{
    align-items: flex-end;
}
.f-wrap{
    flex-wrap: wrap;
}
.container::-webkit-scrollbar {
    width: 6px;
}              
.container::-webkit-scrollbar-thumb {
    background-color: var(--color5); 
    border-radius: 20px;    
  }
/************************* 
           MAIN 
**************************/
.container{
    background-color: var(--color1);
    width: calc(100vw - 250px);
    height: calc(100vh - 75px);
    overflow: auto;
}
.headerbar{
    height: 70px;
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color: var(--color4);
    z-index: 1;
}
.btn{
    border: solid 2px var(--color5);
    border-radius: 25px;
    text-align: center;
    color: var(--color5);
    font-weight: bold;
    padding: 10px 25px;
    width: fit-content;
    transition: 1s ease-in-out;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.nav-main{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
}
.nav-main ul{
    list-style: none;
}
.nav-main ul li{
    display: inline-block;
    padding: 20px 18px;
    transition: 0.5s ease-in-out;
}
.border-main{
    height: 2px;
    width: 60px;
    margin: 0 auto;
    border-top: 3px solid var(--color6);
}
.section-player{
    padding: 20px 20px;
}
.section-player h2{
    color: var(--color5);
    padding-bottom: 5px;
}
.cont-box{
    padding: 30px 0;
    gap: 20px;
}
.box{
    width: calc(100% / 6 - 20px);
    text-align: center;
}
.small-title{
    color: var(--color5);
    font-weight: bold;
    padding: 10px 0;
}
.artist{
    font-size: 0.7rem;
}
.rounded{
    border-radius: 50%;
}
.cont-hover{
    position: relative;
}
.hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.fa-play{
    color: var(--color3);
    width: 3.4rem;
    background-color: var(--color7);
    border-radius: 50%;
    font-size: 2rem;
    padding: 10px 10px 10px 15px;
}
.box:hover{
    cursor: pointer;
}
.box:hover img{
    opacity: 0.3;
}
.box:hover .hover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger{
    color: var(--color5);
    text-align: end;
    font-size: 1.5rem;
    padding-top: 16px;
    display: none;
}
/************************* 
           SIDEBAR
**************************/
.sidebar{
    width: 250px;
    overflow: hidden;
    padding: 30px;
    height: calc(100vh - 75px);
    background-color: var(--color3);
}
.small{
    display: none;
}
.cont-side{
    height: calc(100% - 34px);
}
nav{
    padding-top: 25px;
}
nav ul,
.playlist ul{
    list-style: none;
}
nav ul li{
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
nav ul li:first-child{
    color: var(--color5);
    position: relative;
}
nav ul li:hover,
.nav-main ul li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.border{
    height: 50px;
    border-left: 3px solid var(--color6);
    position: absolute;
    left: -30px;
    top: 0;
}
.ico{
    padding: 10px;
    width: 50px;
}
.new-playlist{
    padding: 20px 10px;
}
.new-playlist h2{
    color: var(--color5);
}
.new-playlist div{
    padding: 5px 0;
}
.txt-nav{
    padding: 0 12px;
    font-weight: bold;
}
.playlist{
    min-height: 50px;
    overflow-y: auto;
}
.playlist::-webkit-scrollbar {
    width: 6px;
}              
.playlist::-webkit-scrollbar-thumb {
    background-color: var(--color5); 
    border-radius: 20px;    
  }
.playlist ul li{
    padding: 0 10px;
    line-height: 2.3rem;
}

.download{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.profile{
    padding: 10px 0;
}
.img-profile{
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
.img-profile img{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/************************** 
          FOOTER
**************************/
footer{
    background-color: var(--color2);
    width: 100%;
    height: 75px;
    padding: 10px;
}
.now-playing{
    width: 250px;
}
.img-foot{
    max-width: 50px;
    min-width: 30px;
}
.singer-song{
    padding-left: 10px;
}
.singer-song h2{
    font-size: 0.7rem;
    color: var(--color5);
}
.singer-song span{
    font-size: 0.6rem;
}
.ico-now-playing{
    padding-left: 30px;
}
.ico-foot{
    padding: 5px;
    transition: 0.5s ease-in-out;
    width: fit-content;
}
.ico-foot:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: var(--color7);
}
.control{
    width: 45%;
    text-align: center;
    margin: 0 auto;
}
.clicker{
    color: var(--color5);
    font-size: 1.2rem;
    width: 100%;
}
.fa-circle-play{
    font-size: 1.5rem;
}
.clicker i{
    padding: 0 15px;
}
.clicker i:hover{
    cursor: pointer;
}
.time{
    padding: 10px 0;
}
.timeline{
    width: 60%;
    position: relative;
}
.time span{
    color: var(--color5);
    font-size: 0.7rem;
    padding: 0 15px;
}
.time-total{
    width: 100%;
    border: 2px solid grey;
    border-radius: 15px;
}
.time-passed{
    border: 2px solid var(--color7);
    border-radius: 15px;
    width: 9%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}
.ball{
    position: absolute;
    color: var(--color5);
    left: 9%;
    display: none;
}
.timeline:hover{
    cursor:pointer;
}
.timeline:hover .time-passed,
.timeline:hover .ball{
    display: block;
}
.volume{
    width: 250px;
    text-align: right;
}
.ico-volume{
    padding-right: 10px;
    color: white;
    font-size: 0.9rem;
}
.ico-volume:hover{
    cursor: pointer;
}
/************************* 
          @MEDIA
*************************/
@media all and (max-width: 1100px){
    .box{
        width: calc(100% / 4 - 20px);
    }
}
@media all and (max-width: 700px){
    .box{
        width: calc(100% / 2 - 20px);
    }
    .now-playing{
        width: 25%;
    }
    .ico-now-playing{
        flex-direction: column;
        padding-left: 10px;
    }
    .ico-foot{
        padding: 2px;
    }
    .clicker{
        color: var(--color5);
        font-size: 1rem;
    }
    .fa-circle-play{
        font-size: 1.2rem;
    }
    .volume{
        width: 35%;
    }
}
@media all and (max-width: 600px){
    .sidebar{
        width: 50px;
        padding: 8px;
    }
    .container{
        width: calc(100vw - 50px);
    }
    .big{
        display: none;
    }
    .small{
        display: block;
    }
    .img-profile{
        margin: 0 auto;
    }
}
@media all and (max-width: 550px){
    .control{
        width: 65%;
    }
    .volume{
        width: 7%;
    }
    .volume .timeline{
        display: none;
        flex-direction: column;    
    }
    .nav-main ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
